* {
  box-sizing: border-box;
}

:root {
  --nav-width: 200px;
}

html,
body,
.main {
  position: relative;
  width: 100%;
  min-width: 800px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  .nav {
    position: relative;
    width: var(--nav-width);
    height: 100%;
    background-color: navy;
  }
}
