@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px !important;
}

.h1 {
  font-size: 16px !important;
}

.h2 {
  font-size: 24px !important;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-link {
  font-size: 13px !important;
}

.nav-link:not(.active):hover {
  background-color: #191d21 !important;
}

table tr td {
  padding-bottom: 10px;
  word-break: keep-all;
}

table tr td input[type="text"],
table tr td select {
  display: inline-block !important;
  width: calc(100% - 30px) !important;
}

table tr td .input-group {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  width: calc(100% - 30px) !important;
}

.item-boards:empty::before {
  content: "[+게시판추가] 버튼을 클릭해 새 게시판을 추가해보세요!";
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  color: #6c757d !important;
}

.item-banners::before {
  content: "배너목록";
  font-size: 1rem;
}

.item-banners:empty::after {
  content: "[+배너추가] 버튼을 클릭해 새 배너를 추가해보세요!";
  width: 100%;
  padding: 30px 0;
  text-align: center;
  color: #6c757d !important;
}

.banner-speed {
  display: block !important;
  width: 3em !important;
  min-width: 3em !important;
}

.help-info {
  position: relative;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  padding: 8px;
  border-radius: 50%;
  font-size: 10px;
  background-color: #ccc;
  color: #666;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.help-info::before {
  content: "?";
}

.help-info:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
}

.help-info:hover .text {
  display: block !important;
}

.help-info .text {
  position: absolute;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 200px;
  top: 10px;
  right: 10px;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  font-size: 12px;
  color: white !important;
  background-color: #000000aa;
  z-index: 1000;
}

@media (max-width: 768px) {
  .item-board {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .item-board.align-items-center {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .item-board.gap-4 {
    gap: 10px !important;
  }
}
/*# sourceMappingURL=config.css.map */