@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --header-height: 60px;
  --banner-height: 55px;
  --global-padding-1: 20px;
  --global-padding-2: 10px;
  --primary-color-1: #17ce5f;
  --gray-color-1: #f8f8f8;
  --gray-color-2: #efefef;
  --gray-color-3: #dfdfdf;
}

html,
body,
.main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes toast-intro {
  0% {
    margin-bottom: -200px;
    opacity: 0;
  }
  80% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}

@keyframes toast-intro {
  0% {
    margin-bottom: -200px;
    opacity: 0;
  }
  80% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes toast-outro {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: -200px;
  }
}

@keyframes toast-outro {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: -200px;
  }
}

.main #toast-viewport .toast-info {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 80%;
  padding: 0.5em 1em;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10000;
  -webkit-animation: toast-intro 0.4s ease-in-out, toast-outro 0.4s 5s ease-in-out forwards;
          animation: toast-intro 0.4s ease-in-out, toast-outro 0.4s 5s ease-in-out forwards;
}

.main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: var(--header-height);
  padding: var(--global-padding-1);
  background-color: var(--primary-color-1);
}

.main .header .header-title {
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

.main .article {
  position: relative;
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: var(--global-padding-1);
}

.main .article .screen-saver {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--global-padding-1);
  background-color: white;
  z-index: 1000;
}

.main .article #loading-screen-saver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .article #loading-screen-saver .icon {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(https://cdn.jsdelivr.net/gh/skymins04/image-cdn/loading-icon.gif);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.main .article .tab-viewport {
  position: relative;
  width: 100%;
  height: calc(100% - var(--banner-height));
}

.main .article .tab-viewport .tab-btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .article .tab-viewport .tab-btns .tab-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: var(--global-padding-2);
  word-break: keep-all;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: 12px;
  background-color: var(--gray-color-2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .article .tab-viewport .tab-btns .tab-btn:hover {
  cursor: pointer;
  background-color: var(--gray-color-3);
}

.main .article .tab-viewport .tab-btns .tab-btn.selected {
  background-color: var(--primary-color-1);
  color: white;
}

.main .article .tab-viewport .tab-contents {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
  border-left: 1px solid var(--gray-color-2);
  border-right: 1px solid var(--gray-color-2);
  border-bottom: 1px solid var(--gray-color-2);
  overflow-x: hidden;
  overflow-y: auto;
}

.main .article .tab-viewport .tab-contents .tab-content {
  display: none;
  padding: 0;
  margin: 0;
}

.main .article .tab-viewport .tab-contents .tab-content .item {
  position: relative;
  list-style: none;
  font-size: 14px;
  margin: 0 0.5em;
  padding: 0.6em 0.5em calc(0.7em + 10px) 2em;
  border-bottom: 1px solid var(--gray-color-1);
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  word-break: keep-all;
}

.main .article .tab-viewport .tab-contents .tab-content .item .notice {
  position: relative;
  top: -0.2em;
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
  background-color: var(--primary-color-1);
  border-radius: 5px;
  font-size: 10px;
  color: white;
}

.main .article .tab-viewport .tab-contents .tab-content .item .dot {
  margin-right: 0.3em;
}

.main .article .tab-viewport .tab-contents .tab-content .item .meta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.2em;
  font-size: 10px;
}

.main .article .tab-viewport .tab-contents .tab-content .item .meta .icon {
  display: inline-block;
  margin-top: 1px;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  fill: #666;
}

.main .article .tab-viewport .tab-contents .tab-content .item .meta > * {
  float: right;
  margin-left: 1em;
}

.main .article .tab-viewport .tab-contents .tab-content .item.item-notice {
  background-color: #deffeb;
}

.main .article .tab-viewport .tab-contents .tab-content .item:hover {
  cursor: pointer;
  background-color: var(--gray-color-2);
}

.main .article .tab-viewport .tab-contents .tab-content .item::before {
  content: "👉";
  position: absolute;
  top: 0.45em;
  left: 0.7em;
  display: block;
}

.main .article .banner-viewport {
  position: relative;
  width: 100%;
  height: var(--banner-height);
  background-color: #f6f9fa;
  overflow: hidden;
}

.main .article .banner-viewport #slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .article .banner-viewport #slider .item {
  position: relative;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.main.no-banner .article .tab-viewport {
  height: 100%;
}

.main.no-banner .article .banner-viewport {
  display: none;
}

.main.no-tab .article #failed-screen-saver {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.main.no-tab .article .tab-viewport {
  display: none;
}
/*# sourceMappingURL=panel.default.css.map */